<div class="content orange" ng-controller="splashController">
    <div class="botoneraLogin" >
        <button class="floating-button z-d3 light-blue " >
            <i class="icon-twitter icon-1x color-white"></i>
        </button>
        <button class="floating-button z-d3 red loginCenter">
            <i class="icon-google-plus icon-1x color-white"></i>
        </button>
        <button class="floating-button z-d3 blue ">
            <i class="icon-facebook icon-1x color-white"></i>
        </button>
    </div>

    
    <div class="dvAvatar aspect_16_9 ">
        <img src="{{Avatar}}" alt="" class="avatar" id="avatarUsuario" >
    </div>    
    <div class="botoneraLogin" >
        <button id="btnCrearCajero" class="floating-button z-d3 grey " ng-click="showLogin()">
            <i class="icon-1x icon-envelope-o icon-white"></i>
        </button>
    </div>



        <div class="modal-dialog fade card background_control z-d3 login" >
            <div class="header">
                <h2 class="color-light-blue center">Iniciar Sesión</h2>    
            </div>
            
            <input type="text" id="txtUsuario" ng-model="txtUsuario" value="felipe@desamovil.cl">
            <label for="txtUsuario">Usuario</label> 
            <input type="password" id="txtPassword"  ng-model="txtPassword" value="123456">
            <label for="txtPassword">Contraseña</label> 

            <center>
                <button ng-click="login()" class="raised-button blue color-white">Login</button>
                <button ng-click="hideLogin()" class="raised-button grey color-white">Cancelar</button>
            </center>    
        </div>
</div>