<header class="header red">
            <button class="expand-LeftMenu button-left icon-bars icon-1x icon-white" arrows-alt></button>
            <h3 class="icon-white">Tu Perfil</h3>
</header>
<div class="content">
    
    <form ng-controller="sesionController">

        <div class="dvAvatar aspect_16_9 red">
            <img src="{{Avatar}}" alt="" class="avatar" id="avatarUsuario" >
        </div>
             
        <select name="" id="cboPaisUsuario" ng-model="cboPaisUsuario">
        </select>
        <label for="cboPaisUsuario">Pais</label>
        
        <input type="text" id="txtNombreUsuario" ng-model="txtNombreUsuario">
        <label for="txtNombreUsuario">Nombre</label>
        
        <input type="text" id="txtEmailUsuario" ng-model="txtEmailUsuario">
        <label for="txtEmailUsuaro">Email</label>
        
        <input type="text" class="" id="txtMovilUsuario" ng-model="txtMovilUsuario">
        <label for="txtMovilUsuario">Móvil</label>

        <label id="lblPerfilUsuario" class="displayField" ng-model="lblPerfilUsuario">perfil</label>

        <label id="lblNivelUsuario" class="displayField" ng-model="lblNivelUsuario">Nivel</label>

        <lable id="lblPuntos" class="displayField" ng-model="puntosUsuario"></lable>
        
        <label id="lblfechaCreacion" class="displayField" ng-model="lblfechaCreacion"></label>
        
        <button id="btnGuardarUsuario" class="floating-button red floating-down-right  
         " ng-click="guardarUsuario()">
            <i class="icon-1x icon-check icon-white"></i>
        </button>
        <div class="afterFloating"></div>
    </form>
</div>